
.ssz-field {
    cursor: text;
    display: inline-block;
    padding: 4px;
    font-family: Symbola, "Times New Roman", serif;
    font-size: 28px;
}
.ssz-field * {
    box-sizing: border-box;
}
.root {
    display: block;
    letter-spacing: 0.06em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    min-width: 2em;
}

.root .empty:after {
    content: 'c';
    visibility: hidden;
}
.root .empty {
    background: #ccc;
}

.cursor {
    line-height: 1;
    position: relative;
    z-index: 10;
    margin-left: -1px;
    border-left: 1px solid transparent;
}
.cursor.blink {
    border-left: 1px solid;
}
.cursor-input {
    position: absolute;
    z-index: -10;
    width: 20px;
    opacity: 0;
}

/** 分数 **/
.fraction {
    display: inline-block;
    font-size: 90%;
    text-align: center;
    vertical-align: middle;
}
.numerator {
    display: block;
    padding: 0 0.1em 0.2em 0.1em;
}
.denominator {
    border-top: 0.05em solid;
    float: right;
    width: 100%;
    padding: 0.1em;
}
.numerator > span,
.denominator > span {
    display: inline-block;
}

/** 上标下标 **/
.supsub {
    display: inline-block;
    font-size: 90%;
    vertical-align: middle;
}
.supsub.sup-only {
    vertical-align: 0.46em;
}
.supsub.sub-only {
    vertical-align: -0.7em;
}
.supsub > * {
    text-align: left;
}
.supsub > sup {
    display: block;
}
.supsub > sub {
    display: inline-block;
    float: left;
}

/** 上划线 **/
.bar {
    display: inline-block;
    line-height: 1em;
    border-top: 0.05em solid;
    margin-top: 1px;
    padding: 0 1px;
    vertical-align: 0em;
}

/** 根号 **/
.sqrt {
    display: inline-block;
}
.sqrt .prefix {
    transform-origin: top;
    font: 1em/0.875 Symbola, serif;
    display: inline-block;
    position: relative;
    top: 0em;
    right: 0.09em;
    vertical-align: top;
}
.sqrt .stem {
  display: inline-block;
  position: relative;
  left: -0.15em;
  border-top: 0.05em solid;
  padding: 0.1em;
}

/** 方程组 **/
.multi-1 { height: 1em; line-height: 1; }
.multi-2 { height: 2em; line-height: 2; }
.multi-3 { height: 3em; line-height: 3; }
.multi {
    display: inline-block;
}
.multi-1 > .left-brac { transform: scale(1,1); }
.multi-2 > .left-brac { transform: scale(1,2); }
.multi-3 > .left-brac { transform: scale(1,3); }
.multi-4 > .left-brac { transform: scale(1,4); }
.multi-1 > .right-brac { transform: scale(1,1); }
.multi-2 > .right-brac { transform: scale(1,2); }
.multi-3 > .right-brac { transform: scale(1,3); }
.multi-4 > .right-brac { transform: scale(1,4); }

.multi > .left-brac,
.multi > .right-brac {
    display: inline-block;
    width: 0.5em;
    height: 1em;
    vertical-align: middle;
}
.multi > .left-brac > span,
.multi > .right-brac > span {
    position: absolute;
    top: -0.15em;
    left: 0;
}
.multi > .content {
    font-size: 70%;
    display: inline-block;
    vertical-align: middle;
}
.multi > .content > .line {
    display: block;
    line-height: 1;
    margin: 0.4em 0;
}

.word-prefix {
    margin-left: 0.2em;
    vertical-align: 0.05em;
}
.word-prefix + .supsub,
.word-prefix + * + .supsub {
    margin-right: 0.2em;
}

.int {
    vertical-align: -0.265em;
}

.word-manual-input {
    display: inline-block;
    padding: 1px;
    margin-right: 1px;
    border: 1px solid #67d1ff;
}
.word-manual-input > .content {
    display: block;
}